body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header {
    background: #50b3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h1,
h2 {
    margin-bottom: 10px;
}

.about,
.skills {
    background: #ffffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: #50b3a2;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    background: #333;
    border-radius: 5px;
}